@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 155 53% 15%;
    --card: 60 56% 96%;
    --card-foreground: 155 53% 15%;
    --popover: 60 56% 96%;
    --popover-foreground: 155 53% 15%;
    --primary: 155 53% 21%;
    --primary-foreground: 60 56% 96%;
    --secondary: 155 20% 85%;
    --secondary-foreground: 155 53% 21%;
    --muted: 155 20% 88%;
    --muted-foreground: 155 20% 40%;
    --accent: 46 100% 50%;
    --accent-foreground: 155 53% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 155 20% 80%;
    --input: 155 20% 83%;
    --ring: 155 53% 21%;
    --chart-1: 155 53% 21%;
    --chart-2: 46 100% 50%;
    --chart-3: 155 30% 50%;
    --chart-4: 46 90% 60%;
    --chart-5: 155 40% 40%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 155 30% 5%;
    --foreground: 60 56% 91%;
    --card: 155 30% 8%;
    --card-foreground: 60 56% 91%;
    --popover: 155 30% 8%;
    --popover-foreground: 60 56% 91%;
    --primary: 60 56% 91%;
    --primary-foreground: 155 53% 15%;
    --secondary: 155 20% 15%;
    --secondary-foreground: 60 56% 91%;
    --muted: 155 20% 15%;
    --muted-foreground: 60 50% 70%;
    --accent: 46 100% 50%;
    --accent-foreground: 155 53% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 155 20% 15%;
    --input: 155 20% 15%;
    --ring: 46 100% 50%;
    --chart-1: 60 56% 91%;
    --chart-2: 46 100% 50%;
    --chart-3: 60 50% 70%;
    --chart-4: 46 90% 60%;
    --chart-5: 60 40% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
